header {
    cursor: default;
}

.brainstorming-main-content {
    padding-top: 0;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

/* div.brainstorming-main-content{
    background: linear-gradient(to bottom, rgba(15, 150, 87, 0.78), rgba(0, 0, 0, 0.0));
    background-size: cover;
} */
.description-text {
    padding: 1rem;
    margin: auto 0 !important;
}

#InitialIdeas {
    color: white;
    font-size: 10vw;
    font-weight: 100;
    text-transform: uppercase;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.6rem;
    color: #c64949;
}

#FinalDecision {
    margin-top: 1rem;
    font-size: 5rem;
    font-family: 'Lato', sans-serif;
    color: #0f9657;
    margin-bottom: 5rem;
}


.BrainHeader {
    width: 100%;
    height: 50rem;
    margin-bottom: 30rem;
    background: linear-gradient(to bottom, rgba(15, 150, 87, 0.78), rgba(0, 0, 0, 0.3)), url(../img/vertda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.DivisionLine {
    height: 2px;
    width: 100%;
    background-color: #333333;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/*
.nb-banner-top{
    padding: 0 !important;
    background-color: rgba(15, 150, 87);
    height: 6rem;
    border-radius: 100px 100px 100px 100px;
} */

.nb-title {
    padding: 1rem;
    margin: 2rem 0 2rem 0;
    width: 50%;
    left: 25%;
    background-blend-mode: darken;
    bottom: 3rem;
}

.nb-subtitle {
    padding: 1rem;
    margin: 0;
    border-bottom: 2px solid #3D0B37;
}

.nb-img {
    margin-left: 4rem;
    height: 400px;
    width: 400px;
}

.nb-description {
    margin-top: 1rem;
    padding-left: 3rem;
    float: right;
}

.nb-description p {
    vertical-align: middle;
}

.nb-text {
    text-align: justify;
    text-justify: inter-word;
}


.nb-wrapper {
    color: transparent;
    border-radius: 2rem;
    margin: 0 calc(-15rem + 8%) !important;
    max-width: 150%;
    width: calc(100% + 15rem) !important;
    height: 100%;
    position: relative;
    background: linear-gradient(to right, #C0D684, #62C370, rgba(15, 150, 87, 0.78), #6bbf59, #EDDBAF, #f3e9d2);
    background-size: 600% 200%;
    animation: gradient 20s linear infinite;
    animation-direction: alternate;
}

.nb-wtop {
    padding-top: 4rem;
    border-radius: 0 0 1rem 1rem !important;
}

.description-text {
    margin-bottom: 3rem !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%
    }

    100% {
        background-position: 100% 100%
    }
}