p{
    font-family: 'Lato', sans-serif;
    font-size: 2.4rem;
    text-indent: 5%;
}
.brainstorming-main-content {
    padding-top: 6rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
div.brainstorming-main-content{
    background: linear-gradient(to bottom, rgba(15, 150, 87, 0.78), rgba(0, 0, 0, 0.0));
    background-size: cover;
}
.description-text {
    margin-bottom: 10%;
    padding: 1rem;
}
#InitialIdeas{
    font-size: 5rem;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    border-bottom: 2px solid #DCC17B;
}
#s-aureus{
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    color: #2D5940;
    
}
#FinalDecision{
    font-size: 5rem;
    font-family: 'Lato', sans-serif;
    color: #2D5940;
    border-bottom: 2px solid #DCC17B;
}
.mainContent h1{
    bottom: 1rem;
}
.mainContent{
    max-height: 25rem;
    min-height: 15rem;
    height: 20rem;
    margin-bottom: 0;
    padding-top: 8rem;
    background: linear-gradient(to bottom, rgba(220, 193, 123, 0.5), rgba(0, 0, 0, 0.3)), url(../img/vert.jpg);
    background-size: cover;
    border-bottom:  1rem solid #2D5940;
}
/*
.nb-banner-top{
    padding: 0 !important;
    background-color: rgba(15, 150, 87);
    height: 6rem;
    border-radius: 100px 100px 100px 100px;
} */

.nb-title{
    padding: 1rem;
    margin: 2rem 0 2rem 0;
    width: 50%;
    left: 25%;
    background-blend-mode: darken; 
    bottom: 3rem;
}
.nb-subtitle{    
    padding: 1rem;
    margin: 0;
    border-bottom: 2px solid rgb(100,100,100);

}
.nb-img{
    margin-top: 1rem;
    max-height: 100%;
    height: 50%;

}
.nb-description{
    margin-top: 1rem;
    padding-left: 3rem;
}
.nb-description p{
    vertical-align: middle;
}
