* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    font-size: 10px;
    font-family: "Roboto Cn", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

p {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

a,
a:hover {
    margin-right: -10px;
    text-decoration: none !important;
    color: white;
}

header {
    margin-bottom: 10rem;
}

#bannersection {
    background: linear-gradient(to bottom, #960f4ea1, rgba(100, 100, 100, 0.3));
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
}

.bannercontent {
    display: table-cell;
    vertical-align: middle;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    padding: 0 3%;
}

video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}


.mainHeader {
    color: white;
    font-size: calc(40px + (120 - 14) * ((100vw - 300px) / (1200 - 300)));
    font-weight: 100;
}

.navbar {
    position: fixed;
}


nav {
    font-weight: 600;
    height: 6rem;
    display: flex;
    padding-left: -20px;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    background-color: transparent;
    z-index: 4;
    width: 100%;
}

/*----------------MOBILE NAVBAR--------------------------*/

#VertNav {
    position: fixed;
    padding-top: 12rem;
    padding-bottom: 5rem;
    margin-top: .6rem;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    font-weight: 300;
    background-color: #333333;
    margin-bottom: -1rem;
    z-index: 1;
    overflow-y: scroll;
}

.hamb {
    display: inline-block;
    cursor: pointer;
}


.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/*---------------------------READING POSITION INDICATOR----------------------------*/
progress {
    /* Positioning */
    position: absolute;
    top: 6rem;
    left: 0;
    z-index: -1;

    /* Dimensions */
    width: 100%;
    height: 5px;

    /* Reset the appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of the default border in Firefox/Opera. */
    border: none;

    /* Progress bar container for Firefox/IE10+ */
    background-color: #333333;

    /* Progress bar value for IE10+ */
    color: #960F4E;
}

progress::-webkit-progress-bar {
    background-color: #333333;
}

progress::-webkit-progress-value {
    background-color: #960F4E;
}

progress::-moz-progress-bar {
    background-color: #960F4E;
}



/* If the screen size is x wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 1280px) {
    nav li {
        padding: 0;
        margin: 0;
        font-size: 1.6rem;
    }

    .brand {
        margin-right: 10rem;
    }

    nav img {
        width: 35px;
        height: 30px;
    }
}


/* .navbar-toggler-icon {
    background-image: url("../img/ham\ white.png");
} */

.brand {
    font-size: 3rem;
    margin-right: 0;
    font-weight: 300;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}

/* .brand span {
    color: rgb(51, 51, 51);
} */

nav ul {
    display: flex;
}

nav ul li {
    padding: -6rem;
    margin: -2rem;
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}

nav ul:nth-child(1) {
    animation-delay: 0s;
}

nav ul:nth-child(2) {
    animation-delay: .5s;
}

nav ul:nth-child(3) {
    animation-delay: 1s;
}

nav ul:nth-child(4) {
    animation-delay: 1.5s;
    margin-right: 0;
}

nav ul li {
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}


nav ul li:before,
nav ul li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(51, 51, 51);
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

nav ul li::before {
    top: 0;
    transform-origin: left;
}

nav ul li::after {
    bottom: 0;
    transform-origin: right;
}

nav ul li:hover::before,
nav ul li:hover::after {
    transform: scaleX(1);
}


.cont {
    background-color: rgba(15, 150, 87, 0);
}

@keyframes slideIn {
    from {}

    to {
        transform: translateX(0);
    }
}

/*-----------------CUSTOM SCROLLBAR--------------*/

/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #dddddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b;
}

/*----------------------------------*/

.dropdown .dropbtn {
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding-top: 4rem;
    color: white;
    display: none;
    position: absolute;
    background-color: rgb(51, 51, 51);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown-content a {
    color: white;
    margin-top: 2rem;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(43, 43, 43);
}

.side-content {
    cursor: pointer;
    left: 12rem;
    padding-top: 0;
    margin-top: -5.5rem;
}

/* 
.dropdown:hover .dropdown-content {
    display: block;
} */

.PageTitle h1 {
    color: white;
    font-size: 10vw;
    font-weight: 100;
    text-transform: uppercase;
}

/* 
.PageTitle span {
    color: rgb(51, 51, 51);
} */

.PageTitle h1 {
    padding-top: 10%;
}

/*-----------TEAM PAGE ------------------*/
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.characterCard {
    margin-top: 10rem;
}

/*-----------FOOTER---------------------*/

footer {
    color: white;
    height: 10rem;
    background-color: rgba(15, 150, 87);
}

#BackToTopButton {
    width: 5rem;
    height: 5rem;
    display: none;
    position: fixed;
    bottom: 5rem;
    right: 3rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #960F4E;
    color: white;
    cursor: pointer;
    border-radius: 20rem;
}

#BackToTopButton:hover {
    background-color: #0a683c;
}

/*animation element sliding left*/

.animation-element.slide-left {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-right {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(100px, 0px, 0px);
    -webkit-transform: translate3d(100px, 0px, 0px);
    -o-transform: translate(100px, 0px);
    -ms-transform: translate(100px, 0px);
    transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-right.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}


/*animation slide left styled for cards*/

.animation-element.slide-left.cardContent {
    float: left;
    width: 100%;
    margin: 0% 1.5% 3% 1.5%;
    padding: 15px;
}

.animation-element.slide-left.cardContent:hover,
.animation-element.slide-left.cardContent:active {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}


/*animation slide right styled for cards*/

.animation-element.slide-right.cardContent {
    float: left;
    width: 100%;
    margin: 0% 1.5% 3% 1.5%;
    padding: 15px;
}

.animation-element.slide-right.cardContent:hover,
.animation-element.slide-right.cardContent:active {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

/*----------------------------INDEX TITLE ANIMATION--------------------------------*/
.MainPageContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    line-height: auto;
    color: #ecf0f1;
}

.content__container {
    font-weight: 600;
    overflow: hidden;
    height: 110px;
    padding: 0 40px;
}

/* .content__container:before {
    content: '[';
    left: 0;
}

.content__container:after {
    content: ']';
    position: absolute;
    right: 0;
} */

.content__container:after,
.content__container:before {
    position: absolute;
    top: 0;
    color: #16a085;
    font-size: 42px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.content__container__text {
    display: inline;
    float: left;
    margin: 0;
}

.content__container__list {
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    animation-name: change;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.content__container__list__item {
    line-height: auto;
    margin: 0;
}


@keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes change {

    0%,
    12.66% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -33%, 0);
    }

    33.32%,
    45.98%,
    100% {
        transform: translate3d(0, -66%, 0);
    }
}