header {
    padding: 0;
    cursor: default;
    background: none;
    height: 100%;
}

body {
    overflow-x: hidden;
}

.skew-c {
    width: 100%;
    height: 100px;
    left: 0px;
    background: linear-gradient(to left bottom, #14a863 49%, #960f4e 50%);
}

.section-one {
    background-color: #26c57b;
    position: relative;
    padding: 200px 0 350px;
}



.section-one .section-one__descr {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.section-two {
    background-color: #14a863;
    padding: 100px 0 200px;
    position: relative;
    z-index: 10;
}



.section-two .section-two__descr {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

/* -------------------------------------------------------------------------
   begin Separator
   * ------------------------------------------------------------------------- */
.separator {
    bottom: -4px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

/* -------------------------------------------------------------------------
   end Separator
   * ------------------------------------------------------------------------- */
/* begin Media Max-Width 767
   ============================================================================ */
@media screen and (max-width: 767px) {
    .section-one {
        padding: 130px 0 190px;
    }

    .separator {
        bottom: -110px;
    }

    .separator .separator__svg {
        left: -20%;
        position: relative;
        transform: rotate(15deg);
        width: 140%;
    }
}

/* end Media Max-Width 767
   ============================================================================ */



#inspirationContent p {
    color: #333333;
    padding: 3rem;
}


#descriptionContent p {
    padding: 3rem;
}

.ContentContainer {
    display: block;
    position: relative;
    background-color: white;
    z-index: 1;
}

#bannersection {
    background: linear-gradient(to bottom, #960f4e, #960f4e4b, rgba(100, 100, 100, 0.3));
    background-size: cover;
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
}

.bannercontent {
    display: table-cell;
    vertical-align: middle;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    padding: 0 3%;
}

.descriptionContent {
    background: white;
    margin-bottom: 5rem;
}


.descriptionTitle {
    padding-top: 8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
}

/*----------------------READ MORE BUTTONS -----------------------*/
.dot,
.dot:before,
.dot:after {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #960f4e;
}

.row a {
    cursor: pointer;
}

.dot {
    left: 15rem;
    bottom: 1.5rem;
    margin-top: 10px;
    margin-left: 10px;
}

.dot:before,
.dot:after {
    content: "";
}

.dot:before {
    right: 25px;
    transition: right .3s ease-out;
}

.dot:after {
    left: 25px;
    transition: left .3s ease-out;
}

.dots:hover .dot:before {
    right: -25px;
}

.dots:hover .dot:after {
    left: -25px;
}

#readMoreText {
    visibility: visible;
    color: #960f4e
}

.descriptionContainer {
    background: linear-gradient(140deg, #0f9657cc 0%, #53535379 41%, #960f4e93 90%);
}



.descriptionPage {
    /* background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
    margin-top: -10rem;
    padding-top: 5rem;
    background: #333333;
}

.descriptionPage h2 {
    font-family: vapoFont;
    font-size: 8rem;
    color: #960f4e;
}

.description-first-content {
    background-color: white;
    color: black;
    padding: 4rem;
    text-align: justify;
}

.description-second-content {
    background-color: white;
    color: black;
    padding: 4rem;
    text-align: justify;
}

.description-third-content {
    background-color: white;
    color: black;
    padding: 4rem;
    text-align: justify;
}

.hoverImageContainer {
    position: relative;
}

.descriptionImageOverlay {
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0f9657;
}

.hoverImageContainer:hover .descriptionImageOverlay {
    opacity: 1;
}

.descriptionImageOverlayText {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: justify;
    max-width: 100%;
    max-height: 100%;
    overflow-y: hidden;
}

.animation-element.slide-left.cardContent:nth-of-type(odd) {
    width: 100%;
    margin: 0% 1.5% 3.0% 0%;
}

.animation-element.slide-left.cardContent:nth-of-type(even) {
    width: 100%;
    margin: 0% 0% 3.0% 1.5%;
}

.animation-element.slide-left.cardContent .header {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.animation-element.slide-left.cardContent .left {
    float: left;
    margin-right: 15px;
}

.animation-element.slide-left.cardContent .right {
    float: left;
}

/* .animation-element.slide-left.cardContent img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.5);
} */