.card {
    border: 0;
}
.card-header{
    background-color: inherit;
    border: 0;
    padding: 0.75rem 0 0.75rem 0;
}
.card-link{
    background-color: inherit;
    transition: background 1s;
    border-radius: 2rem 0.5rem 2rem 0.5rem;
    
}
.card-link:hover{
    background-color:  rgba(47, 122, 47, 0.788);
}
.cardContainer{
    padding-left: 1rem;
    padding-right: 1rem;
    align-content: center;
}
