<link rel="stylesheet" href="/css/brainstromingStyles.css">

<div class="container brainstorming-main-content">

    <div class="row description-text">
        <div class="col-sm-4">
            <img src="https://via.placeholder.com/350x500">
        </div>
        <div class="col-sm-8 text-justify">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non dolore doloribus provident, eius
                laudantium
                enim ratione? Quos animi, consequuntur accusamus tempora itaque dolor fugiat praesentium sapiente
                facilis
                ullam consequatur deleniti! Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, asperiores ad
                rerum assumenda dolor nostrum tempore delectus a culpa repellat, cumque alias! Omnis ipsum sapiente
                necessitatibus. Cum nostrum quibusdam reprehenderit.</p>

            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam asperiores reprehenderit
                saepe
                ducimus atque doloremque dolores tempore iure quibusdam eveniet animi laudantium praesentium repellat,
                consequatur modi rerum eius maiores! Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque,
                suscipit quis odio cumque earum incidunt accusamus veniam dicta vitae ratione recusandae, minima
                voluptatibus repellat adipisci voluptatem debitis maiores. Voluptate, possimus!</p>
        </div>
    </div>

    <div class="row description-text">
        <div class="col-sm-8">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non dolore doloribus provident, eius
                laudantium
                enim ratione? Quos animi, consequuntur accusamus tempora itaque dolor fugiat praesentium sapiente
                facilis
                ullam consequatur deleniti! Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, asperiores ad
                rerum assumenda dolor nostrum tempore delectus a culpa repellat, cumque alias! Omnis ipsum sapiente
                necessitatibus. Cum nostrum quibusdam reprehenderit.</p>

            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam asperiores reprehenderit
                saepe
                ducimus atque doloremque dolores tempore iure quibusdam eveniet animi laudantium praesentium repellat,
                consequatur modi rerum eius maiores! Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque,
                suscipit quis odio cumque earum incidunt accusamus veniam dicta vitae ratione recusandae, minima
                voluptatibus repellat adipisci voluptatem debitis maiores. Voluptate, possimus!</p>
        </div>
        <div class="col-sm-4 text-justify">
            <img src="https://via.placeholder.com/350x500">
        </div>
    </div>
    <div class="row description-text">
        <div class="col-sm-4">
            <img src="https://via.placeholder.com/350x500">
        </div>
        <div class="col-sm-8 text-justify">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non dolore doloribus provident, eius
                laudantium
                enim ratione? Quos animi, consequuntur accusamus tempora itaque dolor fugiat praesentium sapiente
                facilis
                ullam consequatur deleniti! Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, asperiores ad
                rerum assumenda dolor nostrum tempore delectus a culpa repellat, cumque alias! Omnis ipsum sapiente
                necessitatibus. Cum nostrum quibusdam reprehenderit.</p>

            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam asperiores reprehenderit
                saepe
                ducimus atque doloremque dolores tempore iure quibusdam eveniet animi laudantium praesentium repellat,
                consequatur modi rerum eius maiores! Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque,
                suscipit quis odio cumque earum incidunt accusamus veniam dicta vitae ratione recusandae, minima
                voluptatibus repellat adipisci voluptatem debitis maiores. Voluptate, possimus!</p>
        </div>
    </div>
</div>