<link rel="stylesheet" href="/css/brainstromingStyles.css">
<div class="row container-fluid col-md-12">

</div>

<div class="container brainstorming-main-content">
 <div class="container-fluid col-md-12 text-center nb-title">
    <h1 id="InitialIdeas">
        Initial Ideas:
    </h1>
 </div>
    <div class="row description-text">
        <div class="conatiner col-md-12 text-center nb-subtitle">
            <h2 id="s-aureus">Staphylococcus aureus biofilm</h2>
        </div>
        <div class="col-sm-4 nb-img">
            <img src="https://via.placeholder.com/350x500" class="nb-img">
        </div>
        <div class="col-sm-8 text-justify nb-description">
            <p>
                
S. aureus is a Gram-positive bacterium that creates a biofilm which sticks to tissues and implanted medical materials. Due to this, S. aureus is resistant to antibiotics and less vulnerable* to antimicrobial and immune defenses. Our plan was to produce and purify recombinant enzymes that have shown antimicrobial activity against the biofilm and, in that way, offer a therapeutic solution.
            </p>

            <p>
                   
            </p>
        </div>
    </div>

    <div class="row description-text">
        <div class="conatiner col-md-12 text-center nb-subtitle">
            <h2 id="s-aureus">Lead accumulation</h2>
        </div>
        <div class="col-sm-8  text-justify nb-description">
            <p>
                    In our state there are a lot of water bodies contaminated by this heavy metal, which is extremely polluted and harmful for people’s health. This idea consisted of taking a protein from Cupriavidus metallidurans called PbrR, which has lead affinity and therefore, modify E. coli C41 (DE3) to remove lead from water. This way, the water quality in our state could improve and also improve the lives of people affected by this contaminant.
            </p>
        </div>
        <div class="col-sm-4 nb-img">
            <img src="https://via.placeholder.com/350x500">
        </div>
    </div>
    <div class="row description-text">
        <div class="conatiner col-md-12 text-center nb-subtitle">
            <h2 id="s-aureus">Ulcer treatment via L. Sericata larvae</h2>
        </div>
        <div class="col-sm-4 nb-img">
            <img src="https://via.placeholder.com/350x500">
        </div>
        <div class="col-sm-8 text-justify nb-description">
            <p>
                    We identified the problem of hard-to-treat wounds such as diabetic ulcers and other chronic wounds. An alternative treatment based on the use of larvae of the green bottle fly (Lucilia sericata) has shown effectiveness on healing these wounds due to the peptides and enzymes released in the insect´s secretions. Our objective was to produce a hydrogel that contained three of these proteins to accelerate the debridement process and prevent bacterial infections.
            </p>
        </div>
    </div>
    <div class="container-fluid col-md-12 text-center nb-title">
            <h1 id="FinalDecision">
                Initial Ideas:
            </h1>
         </div>
            <div class="row description-text">
</div>