<link rel="stylesheet" href="css/educationEngagementStyles.css">

<header style="margin-bottom: 0">
    <div class="headerContainer">
        <video autoplay muted loop id="YerFondo">
            <source src="img/YaraFondo.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Education and Engagement</h1>
            </div>
        </div>
        <a class="scrollDownButton">
            <img src="img/arrowUP.png" id="arrowImage">
        </a>
    </div>
</header>
<!-- Carousel 1 -->
<div class="eventSection">

    <div id="demo" class="carousel slide" data-ride="carousel" style="position: relative; height: 100%;">
        <!-- Info Overlay -->
        <div class="carousel-header">
            <h1>Visits to Mariano Valenzuela Elementary Schoool</h1>
            <p>We visited an elementary school to give an introduction to what synthetic biology is, its uses, and how
                they could start a business in this area.</p>
        </div>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="tinted-image">
                    <img src="img/EducationPic-1.jpg" alt="#">
                </div>
            </div>
            <div class="carousel-item">
                <div class="tinted-image">

                    <img src="img/EducationPic-2.jpg" alt="#">
                </div>
            </div>
            <div class="carousel-item">
                <div class="tinted-image">

                    <img src="img/EducationPic-3.jpg" alt="#">
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

</div>


<!-- -------------------------------MOBILE CONTENT---------------------------------------

THIS ONLY APPEARS ON SCREEN RESOLUTIONS LOWER TO 1210 -->