<header class="mainContent">
    <!-- <div class="container-fluid text-center Title">
            <div class="row PageTitle">
                <div class="MainPageContent">
                    <div class="content__container">
                        <ul class="content__container__list">
                            <li class="content__container__list__item">V-erticillium</li>
                            <li class="content__container__list__item">Inhibi-tion</li>
                            <li class="content__container__list__item" style="margin-left: 4rem">V-tion</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
</header>
<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio fugiat deleniti
                consequuntur
                aspernatur
                atque, labore unde nam expedita omnis quos facere voluptatibus illo! Placeat ipsam sit sint qui
                iusto
                eveniet? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt omnis molestias saepe
                voluptatem ducimus in nostrum quis nemo itaque reprehenderit, sunt dignissimos sint accusamus dolor
                eveniet sequi nihil. Eius, ullam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. In illo
                veniam molestiae dolorum quas, odio obcaecati error, asperiores dignissimos repudiandae sint
                inventore
                ad molestias nihil officia eligendi recusandae praesentium doloremque.
            </p>
        </div>
        <div class="col-sm-5">
            <img class="img-fluid" src="img/pothos_800x600.gif" width="auto" height="auto     ">
        </div>
    </div>
    <div class="row center-text">
        <div class="col-md-12">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam temporibus cupiditate dolorem excepturi
                porro
                placeat laborum tenetur, incidunt tempore ut rerum numquam dolore debitis omnis aliquid minima culpa
                animi
                voluptatem! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis ea amet, nesciunt id,
                consequatur corporis molestias, beatae corrupti reprehenderit deserunt rem commodi autem minima animi
                soluta
                architecto voluptatum natus quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum labore
                repellendus itaque natus nostrum facilis laborum! Dolore, animi? Nostrum dolores obcaecati sequi
                voluptatum
                ad
                eos reprehenderit, vel id autem velit!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam temporibus cupiditate dolorem excepturi
                porro
                placeat laborum tenetur, incidunt tempore ut rerum numquam dolore debitis omnis aliquid minima culpa
                animi
                voluptatem! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis ea amet, nesciunt id,
                consequatur corporis molestias, beatae corrupti reprehenderit deserunt rem commodi autem minima animi
                soluta
                architecto voluptatum natus quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum labore
                repellendus itaque natus nostrum facilis laborum! Dolore, animi? Nostrum dolores obcaecati sequi
                voluptatum
                ad
                eos reprehenderit, vel id autem velit!
            </p>
        </div>
    </div>
    <div class="row center-text">
        <div class="col-md-12">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam temporibus cupiditate dolorem excepturi
                porro
                placeat laborum tenetur, incidunt tempore ut rerum numquam dolore debitis omnis aliquid minima culpa
                animi
                voluptatem! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis ea amet, nesciunt id,
                consequatur corporis molestias, beatae corrupti reprehenderit deserunt rem commodi autem minima animi
                soluta
                architecto voluptatum natus quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum labore
                repellendus itaque natus nostrum facilis laborum! Dolore, animi? Nostrum dolores obcaecati sequi
                voluptatum
                ad
                eos reprehenderit, vel id autem velit!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam temporibus cupiditate dolorem excepturi
                porro
                placeat laborum tenetur, incidunt tempore ut rerum numquam dolore debitis omnis aliquid minima culpa
                animi
                voluptatem! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis ea amet, nesciunt id,
                consequatur corporis molestias, beatae corrupti reprehenderit deserunt rem commodi autem minima animi
                soluta
                architecto voluptatum natus quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum labore
                repellendus itaque natus nostrum facilis laborum! Dolore, animi? Nostrum dolores obcaecati sequi
                voluptatum
                ad
                eos reprehenderit, vel id autem velit!
            </p>
        </div>
    </div>
    <div class="row center-text">
        <div class="col-md-12">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam temporibus cupiditate dolorem excepturi
                porro
                placeat laborum tenetur, incidunt tempore ut rerum numquam dolore debitis omnis aliquid minima culpa
                animi
                voluptatem! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis ea amet, nesciunt id,
                consequatur corporis molestias, beatae corrupti reprehenderit deserunt rem commodi autem minima animi
                soluta
                architecto voluptatum natus quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum labore
                repellendus itaque natus nostrum facilis laborum! Dolore, animi? Nostrum dolores obcaecati sequi
                voluptatum
                ad
                eos reprehenderit, vel id autem velit!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam temporibus cupiditate dolorem excepturi
                porro
                placeat laborum tenetur, incidunt tempore ut rerum numquam dolore debitis omnis aliquid minima culpa
                animi
                voluptatem! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis ea amet, nesciunt id,
                consequatur corporis molestias, beatae corrupti reprehenderit deserunt rem commodi autem minima animi
                soluta
                architecto voluptatum natus quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum labore
                repellendus itaque natus nostrum facilis laborum! Dolore, animi? Nostrum dolores obcaecati sequi
                voluptatum
                ad
                eos reprehenderit, vel id autem velit!
            </p>
        </div>
    </div>
</div>