<link rel="stylesheet" href="css/projectDescriptionStyles.css">

<div class="descriptionPage">
    <header>
        <video autoplay muted loop id="myVideo">
            <source src="img/descriptionHeader.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <div id="bannersection">
            <div class="bannercontent">
                <h1 class="mainHeader">Description <br>&<br> inspiration</h1>
            </div>
        </div>
    </header>


    <div class="container shadow descriptionContent">
        <div class="row description-first-content">
            <div class="col-md-6">
                <div class="animation-element slide-left">
                    <h2>SubTitle</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam accusantium labore quia
                        libero
                        animi
                        officiis unde quod? Hic aliquam dignissimos maiores laborum dolor necessitatibus tempore
                        quidem
                        repudiandae mollitia. Sapiente, non? Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Nobis
                        esse
                        adipisci quia necessitatibus. Distinctio error vero facere ipsam hic veniam atque illum
                        corrupti,
                        eius,
                        cumque similique, blanditiis ratione sapiente inventore. Lorem ipsum dolor sit, amet
                        consectetur
                        adipisicing elit. Quisquam quasi fugit, quaerat obcaecati amet reiciendis aliquam. Officia
                        totam
                        assumenda eius quibusdam placeat inventore qui doloribus sunt vitae dolores. Voluptate,
                        vero?
                        Lorem
                        ipsum dolor, sit amet consectetur adipisicing elit. Distinctio quidem, cupiditate molestias
                        quam
                        maxime
                        est, autem sapiente illum suscipit dolore reprehenderit, natus excepturi eaque nobis quae?
                        Quae,
                        consequatur facilis. Obcaecati? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Atque
                        blanditiis, maxime itaque doloribus reprehenderit doloremque facilis mollitia suscipit ipsum
                        laboriosam
                        asperiores autem perspiciatis tempore dicta eos porro? Adipisci, ullam rem?
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="animation-element slide-right hoverImageContainer text-center">
                    <img src="https://via.placeholder.com/700x600" class="img-fluid">
                    <div class="descriptionImageOverlay">
                        <div class="descriptionImageOverlayText">
                            <h3>
                                IMAGE FOOT NOTE
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row description-second-content">
            <div class="col-md-6">
                <div class="animation-element slide-left hoverImageContainer text-center">
                    <img src="https://via.placeholder.com/700x600" class="img-fluid">
                    <div class="descriptionImageOverlay">
                        <div class="descriptionImageOverlayText">
                            <h3>
                                IMAGE FOOT NOTE
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="animation-element slide-right">
                    <h2>SubTitle</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam accusantium labore quia
                        libero
                        animi
                        officiis unde quod? Hic aliquam dignissimos maiores laborum dolor necessitatibus tempore
                        quidem
                        repudiandae mollitia. Sapiente, non? Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Nobis
                        esse
                        adipisci quia necessitatibus. Distinctio error vero facere ipsam hic veniam atque illum
                        corrupti,
                        eius,
                        cumque similique, blanditiis ratione sapiente inventore. Lorem ipsum dolor sit, amet
                        consectetur
                        adipisicing elit. Quisquam quasi fugit, quaerat obcaecati amet reiciendis aliquam. Officia
                        totam
                        assumenda eius quibusdam placeat inventore qui doloribus sunt vitae dolores. Voluptate,
                        vero?
                        Lorem
                        ipsum dolor, sit amet consectetur adipisicing elit. Distinctio quidem, cupiditate molestias
                        quam
                        maxime
                        est, autem sapiente illum suscipit dolore reprehenderit, natus excepturi eaque nobis quae?
                        Quae,
                        consequatur facilis. Obcaecati? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Atque
                        blanditiis, maxime itaque doloribus reprehenderit doloremque facilis mollitia suscipit ipsum
                        laboriosam
                        asperiores autem perspiciatis tempore dicta eos porro? Adipisci, ullam rem?
                    </p>
                </div>
            </div>
        </div>
        <div class="row description-third-content">
            <div class="col-md-6">
                <div class="animation-element slide-left">
                    <h2>SubTitle</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam accusantium labore quia
                        libero
                        animi
                        officiis unde quod? Hic aliquam dignissimos maiores laborum dolor necessitatibus tempore
                        quidem
                        repudiandae mollitia. Sapiente, non? Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Nobis
                        esse
                        adipisci quia necessitatibus. Distinctio error vero facere ipsam hic veniam atque illum
                        corrupti,
                        eius,
                        cumque similique, blanditiis ratione sapiente inventore. Lorem ipsum dolor sit, amet
                        consectetur
                        adipisicing elit. Quisquam quasi fugit, quaerat obcaecati amet reiciendis aliquam. Officia
                        totam
                        assumenda eius quibusdam placeat inventore qui doloribus sunt vitae dolores. Voluptate,
                        vero?
                        Lorem
                        ipsum dolor, sit amet consectetur adipisicing elit. Distinctio quidem, cupiditate molestias
                        quam
                        maxime
                        est, autem sapiente illum suscipit dolore reprehenderit, natus excepturi eaque nobis quae?
                        Quae,
                        consequatur facilis. Obcaecati? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Atque
                        blanditiis, maxime itaque doloribus reprehenderit doloremque facilis mollitia suscipit ipsum
                        laboriosam
                        asperiores autem perspiciatis tempore dicta eos porro? Adipisci, ullam rem?
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="animation-element slide-right hoverImageContainer text-center">
                    <img src="https://via.placeholder.com/700x600" class="img-fluid">
                    <div class="descriptionImageOverlay">
                        <div class="descriptionImageOverlayText">
                            <h3>
                                IMAGE FOOT NOTE
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>