<link rel="stylesheet" href="/css/projectDescriptionStyles.css">
<div class="descriptionPage">
    <div class="container-fluid descriptionHeader text-center">
        <h1 class="descriptionTitle mainHeader">Description & Inspiration</h1>
    </div>


    <div id="container">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div id="gears">
                        <img class="gear_md img-fluid" id="gear1" src="/img/gear.png" />
                    </div>
                </div>
                <div class="col-sm-9">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam accusantium labore quia libero
                        animi
                        officiis unde quod? Hic aliquam dignissimos maiores laborum dolor necessitatibus tempore quidem
                        repudiandae mollitia. Sapiente, non? Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nobis
                        esse
                        adipisci quia necessitatibus. Distinctio error vero facere ipsam hic veniam atque illum
                        corrupti,
                        eius,
                        cumque similique, blanditiis ratione sapiente inventore. Lorem ipsum dolor sit, amet consectetur
                        adipisicing elit. Quisquam quasi fugit, quaerat obcaecati amet reiciendis aliquam. Officia totam
                        assumenda eius quibusdam placeat inventore qui doloribus sunt vitae dolores. Voluptate, vero?
                        Lorem
                        ipsum dolor, sit amet consectetur adipisicing elit. Distinctio quidem, cupiditate molestias quam
                        maxime
                        est, autem sapiente illum suscipit dolore reprehenderit, natus excepturi eaque nobis quae? Quae,
                        consequatur facilis. Obcaecati? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque
                        blanditiis, maxime itaque doloribus reprehenderit doloremque facilis mollitia suscipit ipsum
                        laboriosam
                        asperiores autem perspiciatis tempore dicta eos porro? Adipisci, ullam rem?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>