<link rel="stylesheet" href="/css/projectDescriptionStyles.css">

<div class="container-fluid descriptionHeader text-center">
    <h1 class="descriptionTitle">Description & Inspiration</h1>
</div>


<div class=""