<link rel="stylesheet" href="/css/projectDescriptionStyles.css">
<div class="descriptionPage">
    <div class="container-fluid descriptionHeader text-center">
        <h1 class="descriptionTitle">Description & Inspiration</h1>
    </div>

    <div class="container">
        <h1>Slide in from the left </h1>
        <p>This animation will focus on sliding an element from the left once it enters the view of the user</p>
    </div>
    <div class="container cf">
        <div class="animation-element slide-left cardContent">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quae facere dolore maxime
                necessitatibus
                ut
                sunt voluptas saepe quas, labore non obcaecati repudiandae dolorum dicta, quisquam dolores neque
                optio
                sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel libero velit, sequi illo, eius
                repellat
                esse perferendis optio quos facere asperiores modi et nostrum sunt in tempore! Nulla, eum suscipit!
                Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Laudantium accusamus tempora vitae autem neque
                eaque
                dicta deserunt quod, doloribus temporibus delectus sint ipsam necessitatibus possimus iusto! Iste
                culpa
                nam
                perferendis.
            </p>
        </div>
    </div>
    <div class="container cf">
        <div class="animation-element slide-left cardContent">
            <img src="/img/create.png" class="img-fluid">
        </div>
    </div>
    <div class="container cf">
        <div class="animation-element slide-left cardContent">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quae facere dolore maxime
                necessitatibus
                ut
                sunt voluptas saepe quas, labore non obcaecati repudiandae dolorum dicta, quisquam dolores neque
                optio
                sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel libero velit, sequi illo, eius
                repellat
                esse perferendis optio quos facere asperiores modi et nostrum sunt in tempore! Nulla, eum suscipit!
                Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Laudantium accusamus tempora vitae autem neque
                eaque
                dicta deserunt quod, doloribus temporibus delectus sint ipsam necessitatibus possimus iusto! Iste
                culpa
                nam
                perferendis.
            </p>
        </div>
    </div>
    <div class="container cf">
        <div class="animation-element slide-left cardContent text-center">
            <img src="https://via.placeholder.com/1000x500" class="img-fluid">
        </div>
    </div>
</div>