<link rel="stylesheet" href="css/projectDescriptionStyles.css">


<header>
    <video autoplay muted loop id="myVideo">
        <source src="img/descriptionHeader.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div id="bannersection">
        <div class="bannercontent">
            <h1 class="mainHeader">Description <br>&<br> inspiration</h1>
        </div>
    </div>
</header>
<div class="descriptionPage">
    <div class="container shadow animation-element slide-left descriptionContent">
        <div class="row">
            <div class="col-md-6">
                <h2 style="color: white;">Inspiration</h2>
                <p class="text-justify" style="color: white">
                    When we first heard about iGEM, we also heard about the wonders of synthetic biology, and were more
                    than inspired by the projects we read about. Learning about all the things that had been done only
                    reaffirmed the notion that not even the sky was our limit. So what better idea than to use all these
                    incredible tools to solve a real world issue in such a way that we could notice an impact in our own
                    community?
                </p>
            </div>
            <div class="col-md-6">
                <div class="hoverImageContainer text-center">
                    <img src="https://via.placeholder.com/700x600" class="img-fluid">
                    <div class="descriptionImageOverlay">
                        <div class="descriptionImageOverlayText">
                            <h3>
                                IMAGE FOOT NOTE
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a data-toggle="collapse" data-target="#inspirationContent" class="dots ReadMoreAnchor">
                <span id="readMoreText1" style="font-family: vapoFont; font-size: 30px; color: white;">Read
                    More</span>

                <div class="dot"></div>
            </a>
        </div>
        <div class="row">

            <div id="inspirationContent" class="collapse text-justify">
                <p>
                    Our team is comprised of people who have lived most of their lives in the state of Chihuahua.
                    Knowing our home and our people for so many years and in so many different aspects, we wanted to do
                    something that would truly influence our community. We wanted to create a meaningful change in our
                    surroundings. With this as our main focus, we launched into our brainstorming sessions. A topic that
                    resurfaced throughout all the wild and countless ideas we considered, was agriculture.
                </p>
                <p>
                    For our country, agriculture is one of the major economic activities. Besides being a leading agent
                    in the job market, it fulfills the nutritional needs of millions of citizens, preserves natural
                    environments, stimulates progress by improving the quality of life in rural areas, and has also been
                    ingrained in our culture and traditions since the very beginning. The Mexican countryside counts
                    itself among the 12 economies with the highest agricultural production on the world; employing 5.5
                    million people and generating around 27 billion dollars annually. 1</p>
                <p>
                    Even before being aware of these impressive statistics, we already knew agriculture had a
                    considerable impact in our country and state. Before being part of iGEM Tec-Chihuahua 2019, some of
                    our team members had the chance to meet and work with people immersed in this area, others had
                    developed small research projects in our school regarding agricultural issues, but all of us had
                    some sort of experience with agriculture and its importance for the Mexican people.</p>
                <p>
                    The interest, curiosity, and familiarity with this topic remained a constant throughout the first
                    weeks we spent searching for that special cause we would focus our project on. Once we realized
                    that, we began exploring what issues influenced this area the most so we could try and solve them.
                </p>
                <a class="ReadMoreAnchor" data-toggle="collapse" data-target="#inspirationContent">
                    <span style="font-family: vapoFont; font-size: 30px; color: white;">Read Less</span>
                </a>
            </div>
        </div>
    </div>

    <div class="section-one text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="https://via.placeholder.com/700x600" class="img-fluid">
                </div>
                <div class="col-sm-6">
                    <h2>Awesome Section - 1</h2>
                    <p class="section-one__descr">Not far stuff she think the jokes. Going as by do known noise he wrote
                        round
                        leave. Warmly put branch people narrow see. Winding its waiting yet parlors married own feeling.
                        Marry
                        fruit
                        do spite jokes an times. Whether at it unknown warrant herself
                        winding if. Him same none name sake had post love. An busy feel form hand am up help. Parties it
                        brother
                        amongst an fortune of. Twenty behind wicket why age now itself ten.</p>
                    <!-- begin Separator -->
                </div>
            </div>
            <div class="row">
                <div class="separator">
                    <svg class="separator__svg" width="100%" height="400" viewBox="0 0 100 100"
                        preserveAspectRatio="none" fill="#14a863" version="1.1">
                        <path d="M 100 100 V 10 L 0 100" />
                        <path d="M 30 73 L 100 18 V 10 Z" fill="#308355" stroke-width="0" />
                    </svg>
                </div>
            </div>
        </div>
        <!-- end Separator -->
    </div>
    <div class="section-two text-center">
        <h2 class="section-two__title" style="color: white">Awesome Section - 2</h2>
        <p class="section-two__descr">From they fine john he give of rich he. They age and draw mrs like. Improving end
            distrusts may instantly was household applauded incommode. Why kept very ever home mrs. Considered
            sympathize ten uncommonly occasional assistance sufficient not. Letter
            of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as.</p>
    </div>
    <div class="skew-c"></div>
    <div class="section-two text-center" style="background: #960f4e">
        <h2 class="section-two__title" style="color: white">Awesome Section - 3</h2>
        <p class="section-two__descr">From they fine john he give of rich he. They age and draw mrs like. Improving end
            distrusts may instantly was household applauded incommode. Why kept very ever home mrs. Considered
            sympathize ten uncommonly occasional assistance sufficient not. Letter
            of on become he tended active enable to. Vicinity relation sensible sociable surprise screened no up as.</p>
    </div>
</div>