<link rel="stylesheet" href="/css/projectDescriptionStyles.css">
<div class="descriptionPage">
    <div class="container-fluid descriptionHeader text-center">
        <h1 class="descriptionTitle mainHeader">Description & Inspiration</h1>
    </div>
</div>