<link rel="stylesheet" href="/css/safety.css">
<div class="safety-page">
    <div class="container-fluid safety-header text-center">
        <h1 class="safety-title mainHeader">Lab Safety</h1>
        <q class="title-quote">Safety is a atate of mind, accidents are an absence of mind. -Anon.</q>
    </div>
</div>
<div class="safety-page container col-md-12">
        <div class="jumbotron safety-alert alert-danger">
            <div class="container">
                    <h1>
                            Safety is important!
                    </h1>
                
                    </div>
            </div>   
            
</div> <div> icons by Yannick Lung in https://www.iconfinder.com/yanlu</div>

