<link rel="stylesheet" href="/css/safety.css">
<div class="safety-page">
    <div class="container-fluid safety-header text-center">
        <h1 class="safety-title mainHeader">Lab Safety</h1>
        <q class="title-quote">Safety is a atate of mind, accidents are an absence of mind. -Anon.</q>
    </div>
</div>
<div class="safety-page container col-md-12">
    <div class="jumbotron safety-alert alert-danger">
        <div class="container">
           <div class="row">
            <h1 id="safety-important">
                   <img src="/img/iconfinder_101_Warning_183533.png" alt="warning" class="warning"> Important! <img src="/img/ham.png" alt="closeable" class="close-menu">
            </h1>
            </div>
            <hr id="safety-bar">
            <p class="warning-content">
                  Safety refers to the practices and principles
                  that one should follow to prevent the unintentional exposure to pathogens
                  and toxins or their accidental release. It involves the implementation 
                  of a chemical hygiene plan, which concerns the safe handling, storage, 
                  and disposal of chemicals; a review by the people responsible for 
                  undergraduate instruction in safety issues of students, teaching,  
                  research laboratories, among others.
            </p>
            <p class="warning-content">
                  The team worked on the laboratories of Tecnológico de Monterrey
                   campus Chihuahua in the school of engineering which fall under
                  the biosafety level 2. Before starting our work in the lab, 
                  all team members had to pass different safety tests and receive 
                  training. Those tests included an introduction in the laboratory 
                  machinery (i.e. centrifuge, plate reader, gel chamber, autoclave), 
                  but also covered the use of chemicals (i.e. chloroform, phenol, 
                  staining reagents). At all times, a supervisor or instructor was 
                  present when work was conducted in the laboratory. 
            </p>
            <hr id="safety-bar">
            <div id="safety-cc-license"> Icons by Yannick Lung in https://www.iconfinder.com/yanlu</div>
            </div>
    </div>   
    <div class="container col-md-8">
        <h1>
            Safety Courses
        </h1>
        <hr class="safety-main-hr">
        <p>
            Prior to starting the lab work all team members completed several courses provided by the Public Health Agency of Canada web page. 

        </p>
    </div>
    <div class="safety-certificates">
        <div class="row safety">
        <img src="/img/Canada-health-banner.png" alt="Flag of Canada" title="Flag of Canada" id="Flag-of-Canada"> 
        <p id="safety-certificates">
            Was able to provide the following courses:
        </p>
        </div>
        <!-- <hr id="safety-certificates-hr"> -->
        <div class="row safety">
            
            <ul id="safety-courses">
                <li>Biosecurity Plan
                </li>
                <li>General Safety for Containment Labs
                </li>
                <li>Containment Level 2 Operational Practices
                </li>
                <li>Introduction to Biosafety
                </li>
                <li>Introduction to Biosecurity
                </li>
                <li>Personal Protective Equipment
                </li>
                <li>Autoclaves
                </li>
                <li>Microbiology Overview
                </li>
                <li>Pathogen Risk Assessment
                </li>
                <li>Biological Safety Cabinets
                </li>
                <li>Decontamination in the Laboratory
                </li>
                <li>Chemical Disinfectants    
                </li>
            </ul>
        </div>
    </div>
    <div class="container col-md-8">
            <h1>
               Personal Protective Equipment
            </h1>
            <hr class="safety-main-hr">
            <p>
                Working in a laboratory comes with potential risks, so  we have to follow certain rules to ensure individual and collective safety. 
            </p>
        </div>
        <div class="row safety">
            <div class="container col-md-10 safety-accordion" target="#sfty-acc1">
                <span class="safety-spoiler">▼</span> 
                Personal protection. 
            </div>
            <div class="container col-md-9 safety-panel" id="sfty-acc1">
                   <p> We should always wear a lab coat, nitrile gloves and masks in order to avoid contact with dropplets, aerosols and other contaminants resulting from experiments. We should also wear long pants that cover the ankles, close-toed shoes and long hair (chin-length or longer) should be tied back. 
                    </p>
                    <div class="row acc-images">
                        <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                        <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                        <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                        <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                    </div>
                     <p>
                         Our personal belongings must stay away from the lab when handling infectious materials to prevent any contamination.
                     </p>
                     <div class="row acc-images">
                            <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                     </div>
                     <p>
                            The personal protective equipment is removed when leaving the lab, as it should not be taken outside unless it's appropriately packed and sealed.

                        </p>
                        <div class="row acc-images">
                               <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                        </div>
                        <p>
                            We should always disinfect our hands with 70% ethanol, applying it before and after we've put on the gloves, as well as washing our hands when entering the lab and after leaving it.

                        </p>
                        <div class="row acc-images">
                               <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                        </div>
            </div>

            <div class="container col-md-10 safety-accordion" target="#sfty-acc2">
                <span class="safety-spoiler">▼</span> 
                Autoclaves. 
            </div>
            <div class="container col-md-9 safety-panel"    id="sfty-acc2">
                   <p> Our lab is equipped with 3 Autoclaves: Tuttnauer, All American pressure steam sterilizer 25x, 110v and Autoclave vertical AESA, CV3. The autoclave is a strong heated container using high pressures and temperatures for steam sterilization.
                    </p>
                <div class="row acc-images">
                    <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                    <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                    <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                </div>
            </div>
 <!-- / -->
    <div class="container col-md-10 safety-accordion" target="#sfty-acc3">
                <span class="safety-spoiler">▼</span> 
                Biosafety Cabinets. 
            </div>
            <div class="container col-md-9 safety-panel"    id="sfty-acc3">
                   <p> Our lab is equipped with 4 Biosafety Cabinets, which prevent the samples we work with from contamination caused by either ourselves or  external agents. As part of our protocols, we always turn on the UV light for 15 minutes minimum before using the biosafety cabinets, and we also clean our hands and the materials we will introduce with 70% ethanol. Finally, when done using the biosafety cabinets, we make sure to clean them and let the UV light sterilize them for another 15 minutes.

                    </p>
                <div class="row acc-images">
                    <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                    <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                    <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                    <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                </div>
            </div>
 <!-- / -->
            <div class="container col-md-10 safety-accordion" target="#sfty-acc4">
                <span class="safety-spoiler">▼</span> 
                Lab Access & Waste Management.  
            </div>
            <div class="container col-md-9 safety-panel" id="sfty-acc4">
                   <p> The laboratories we work in are categorized as Containment Level 2 Laboratories. These laboratories have lockable doors and access is restricted to Biotechnology alumni and Faculty teachers. Students must complete a safety course before being granted access to any of the laboratories.</p>
                   <p>Waste is usually classified into four types that should be disposed accordingly to their nature in order to avoid accidents or contamination. Sharp objects must be disposed in a thick red plastic bottle. Non solid biological wastes such as fluids go in a yellow hermetic bottle. Solid biological wastes should be disposed in a yellow bag, while objects and materials that were in contact with bacteria or any kind of infectious agent should be disposed in a red bag.</p>
                    <div class="row acc-images">
                        <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                        <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                        <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                        <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                    </div>
            </div>
<!-- \ -->
            

        </div>
    </div>  
</div>

<div> icons by Yannick Lung in https://www.iconfinder.com/yanlu</div>

