<link rel="stylesheet" href="https://2019.igem.org/wiki/index.php?title=Template:Tec-Chihuahua/safetyCSS&action=raw&ctype=text/css">
<div class="safety-page">
    <div class="container-fluid safety-header text-center">
        <h1 class="safety-title mainHeader" style="font-family: headerFont">Lab Safety</h1>
        <q class="title-quote">Safety is a atate of mind, accidents are an absence of mind. -Anon.</q>
    </div>
</div>
<div class="safety-page container col-md-12">
    <div class="jumbotron safety-alert alert-danger">
        <div class="container">
           <div class="row">
            <h1 id="safety-important">
                   <img src="https://2019.igem.org/wiki/images/8/8a/T--Tec-Chihuahua--alert-icon.png" alt="warning" class="warning"> Important! <img src="/img/ham.png" alt="closeable" class="close-menu">
            </h1>
            </div>
            <hr id="safety-bar">
            <p class="warning-content">
                Safety in research refers to the practices and principles
                 that one shall follow to prevent exposure to biological 
                 organisms, products, or material; their accidental release; 
                 or any potential harm they may cause to any individual, 
                 external organism or the environment.

            </p>
            <h1>What does safety involve?</h1>
            <h3>Safety skills</h3>
            <p class="warning-content">
                <h4>Recognize Hazards</h4> 
                Hazard: a potential source of danger to a vulnerable target
                It involves:
                Comprehension of the descriptive terms regarding hazards.
                Knowing how to interpret chemical labels, Safety Data Sheets, and other safety information resources. 
            </p>
            <p class="warning-content">
                <h4>Assess Risks</h4> 
                To evaluate risks from exposure to hazards:
                Consider both products and circumstances.
                How can the risk be prevented or controlled?
            </p>
            <p class="warning-content">
                <h4>Minimize Risks</h4> 
                Design experiments to minimize any hazards exposure and risks.
                Handle, store, and dispose wastes properly.
                Review and learn from past incidents.
            </p>
            <p class="warning-content">
                <h4>Prepare for Emergencies</h4>
                Fires, injuries, spills.
                How to react correctly to an emergency.
                Clear labeling and accessible location of safety devices (showers, eye washes, fire extinguishers, spill kits)
                Understandable and straightforward emergency plan, including emergency phone numbers, alarms and escape routes. 
                
            </p>
            <hr id="safety-bar">
            <div id="safety-cc-license"> Icons by Yannick Lung in https://www.iconfinder.com/yanlu</div>
            </div>
    </div>   
    <div class="container col-md-8">
        <h1>
            Safety Courses
        </h1>
        <hr class="safety-main-hr">
        <p>
            Prior to starting the lab work all team members completed several courses provided by the Public Health Agency of Canada web page. 

        </p>
    </div>
    <div class="safety-certificates">
        <div class="row safety">
        <img src="/img/Canada-health-banner.png" alt="Flag of Canada" title="Flag of Canada" id="Flag-of-Canada"> 
        <p id="safety-certificates">
            Was able to provide the following courses:
        </p>
        </div>
        <!-- <hr id="safety-certificates-hr"> -->
        <div class="row safety">
            
            <ul id="safety-courses">
                <li>Biosecurity Plan
                </li>
                <li>General Safety for Containment Labs
                </li>
                <li>Containment Level 2 Operational Practices
                </li>
                <li>Introduction to Biosafety
                </li>
                <li>Introduction to Biosecurity
                </li>
                <li>Personal Protective Equipment
                </li>
                <li>Autoclaves
                </li>
                <li>Microbiology Overview
                </li>
                <li>Pathogen Risk Assessment
                </li>
                <li>Biological Safety Cabinets
                </li>
                <li>Decontamination in the Laboratory
                </li>
                <li>Chemical Disinfectants    
                </li>
            </ul>
        </div>
    </div>
    <div class="container col-md-8">
            <h1>
               Personal Protective Equipment
            </h1>
            <hr class="safety-main-hr">
            <p>
                Working in a laboratory comes with potential risks, so  we have to follow certain rules to ensure individual and collective safety. 
            </p>
        </div>
        <div class="row safety">
            <div class="container col-md-8 safety-accordion" target="#sfty-acc1">
                <span class="safety-spoiler">▼</span> 
                Personal protection. 
            </div>
            <div class="container col-md-7 safety-panel" id="sfty-acc1">
                   <p> We should always wear a lab coat, nitrile gloves and masks in order to avoid contact with dropplets, aerosols and other contaminants resulting from experiments. We should also wear long pants that cover the ankles, close-toed shoes and long hair (chin-length or longer) should be tied back. 
                    </p>
                    <div class="row acc-images">
                        <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                        <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                        <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                        <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                    </div>
                     <p>
                         Our personal belongings must stay away from the lab when handling infectious materials to prevent any contamination.
                     </p>
                     <div class="row acc-images">
                            <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                     </div>
                     <p>
                            The personal protective equipment is removed when leaving the lab, as it should not be taken outside unless it's appropriately packed and sealed.

                        </p>
                        <div class="row acc-images">
                               <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                        </div>
                        <p>
                            We should always disinfect our hands with 70% ethanol, applying it before and after we've put on the gloves, as well as washing our hands when entering the lab and after leaving it.

                        </p>
                        <div class="row acc-images">
                               <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                        </div>
            </div>

            <div class="container col-md-8 safety-accordion" target="#sfty-acc2">
                <span class="safety-spoiler">▼</span> 
                Autoclaves. 
            </div>
            <div class="container col-md-7 safety-panel"    id="sfty-acc2">
                   <p> Our lab is equipped with 3 Autoclaves: Tuttnauer, All American pressure steam sterilizer 25x, 110v and Autoclave vertical AESA, CV3. The autoclave is a strong heated container using high pressures and temperatures for steam sterilization.
                    </p>
                <div class="row acc-images">
                    <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                    <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                    <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                </div>
            </div>
 <!-- / -->
    <div class="container col-md-8 safety-accordion" target="#sfty-acc3">
                <span class="safety-spoiler">▼</span> 
                Biosafety Cabinets. 
            </div>
            <div class="container col-md-7 safety-panel"    id="sfty-acc3">
                   <p> Our lab is equipped with 4 Biosafety Cabinets, which prevent the samples we work with from contamination caused by either ourselves or  external agents. As part of our protocols, we always turn on the UV light for 15 minutes minimum before using the biosafety cabinets, and we also clean our hands and the materials we will introduce with 70% ethanol. Finally, when done using the biosafety cabinets, we make sure to clean them and let the UV light sterilize them for another 15 minutes.

                    </p>
                <div class="row acc-images">
                    <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                    <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                    <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                    <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                </div>
            </div>
 <!-- / -->
            <div class="container col-md-8 safety-accordion" target="#sfty-acc4">
                <span class="safety-spoiler">▼</span> 
                Lab Access & Waste Management.  
            </div>
            <div class="container col-md-7 safety-panel" id="sfty-acc4">
                   <p> The laboratories we work in are categorized as Containment Level 2 Laboratories. These laboratories have lockable doors and access is restricted to Biotechnology alumni and Faculty teachers. Students must complete a safety course before being granted access to any of the laboratories.</p>
                   <p>Waste is usually classified into four types that should be disposed accordingly to their nature in order to avoid accidents or contamination. Sharp objects must be disposed in a thick red plastic bottle. Non solid biological wastes such as fluids go in a yellow hermetic bottle. Solid biological wastes should be disposed in a yellow bag, while objects and materials that were in contact with bacteria or any kind of infectious agent should be disposed in a red bag.</p>
                    <div class="row acc-images">
                        <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                        <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                        <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                        <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
                    </div>
            </div>
<!-- \ -->
<div class="container col-md-8 safety-accordion" target="#sfty-acc5">
        <span class="safety-spoiler">▼</span> 
        Sterile Halo.
    </div>
    <div class="container col-md-7 safety-panel"    id="sfty-acc5">
           <p>We count with two types of burners in our lab: Meker-Fisher burners and Bunsen burners, which are used when working in an open bench. After sterilizing the working area with 70% ethanol we use a burner to create a sterile zone to prevent contamination of the samples we are working with. 

            </p>
        <div class="row acc-images">
            <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
            <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
            <img src="/img/portrait_placeolder.png" alt="img" class="safety-acc-img">
        </div>
    </div>
<!-- / -->
<div class="container col-md-8 safety-accordion" target="#sfty-acc6">
        <span class="safety-spoiler">▼</span> 
        Choosing a non-pathogenic chasis.
    </div>
    <div class="container col-md-7 safety-panel"    id="sfty-acc6">
           <p>Tec-Chihuahua values safe laboratory practices and recognizes the importance of minimizing risks to the team, our community and the environment. This is why we decided to use a non-pathogenic chassis. We chose two strains of E. coli : DH5α for cloning and BL21 DE3 for protein expression. These strains are classified as Risk Group 1 organisms and generally do not cause disease in healthy adult humans nor represent a risk to the environment. 
           </p>
           <p>
                Despite the low level of risk associated with them, all protocols involving these organisms were performed in a biosafety cabinet while wearing PPE. 
                
            </p>
    </div>
<!-- / -->
<div class="container col-md-8 safety-accordion" target="#sfty-acc7">
        <span class="safety-spoiler">▼</span> 
        Working With Safe Parts.
    </div>
    <div class="container col-md-7 safety-panel"    id="sfty-acc7">
           <p>
               Sample Text.  
               Sample Text.  
               Sample Text.  
               Sample Text.  
               Sample Text.  
               Sample Text.  
               Sample Text.  
               Sample Text.  
               Sample Text.  
               Sample Text.  
               Sample Text.  
               Sample Text.  
               Sample Text.  
               Sample Text.  
            </p>
    </div>
<!-- / -->
<div class="container col-md-8 safety-accordion" target="#sfty-acc8">
        <span class="safety-spoiler">▼</span> 
        <i>Verticillium dahliae</i>
    </div>
    <div class="container col-md-7 safety-panel"    id="sfty-acc8">
           <p>
                This year our project involves working with Verticillium wilt, a fungal plant pathogen caused by the facultative parasite ascomycete Verticillium dahliae. Getting to know the main characteristics of these fungi and developing the right containment methods to avoid accidental release has become indispensable for the correct development of our project. This telluric fungus remains in infested soils through spores or conidia, hyphae and microsclerotia. The infection results in reduced growth, epinastia, wilting, foliar chlorosis that can progress to necrosis, obscuration of xylematic vessels, and leaf abscission.
           </p>
           <p>
                According to DSMZ, it’s defined as the Risk 1 Group with low potential risk. 
                Biological safety and biocontainment practices includes wearing laboratory coat, gloves and eye protection, regular cleaning of work clothes, washing our hands after working with the pathogens and before leaving the laboratory, decontaminating work surfaces after completion of work and after any spill of the fungus leaving our personal belongings and food away from the lab when handling infectious materials and regular decontamination of laboratory equipment and materials. It should be noted that handling of this fungus was done by lighting a burner in the working area or in an ESCO Class II biosafety cabinet. This cabinet was only used after its cleaning with ethanol 70% (v/v) and exposition to UV light for fifteen minutes.
                
            </p>
    </div>
<!-- / -->
        </div>
    </div>  
</div>

