<link rel="stylesheet" href="/css/safety.css">
<div class="safety-page">
    <div class="container-fluid safety-header text-center">
        <h1 class="safety-title mainHeader">Lab Safety</h1>
        <q class="title-quote">Safety is a atate of mind, accidents are an absence of mind. -Anon.</q>
    </div>
</div>
<div class="safety-page container col-md-12">
    <div class="jumbotron safety-alert alert-danger">
        <div class="container">
            <h1>
                   <img src="/img/iconfinder_101_Warning_183533.png" alt="warning" class="warning"> Important! <img src="/img/ham.png" alt="closeable" class="close-menu">
            </h1>
            <hr id="safety-bar">
            <p class="warning-content">
                  Safety refers to the practices and principles
                  that one should follow to prevent the unintentional exposure to pathogens
                  and toxins or their accidental release. It involves the implementation 
                  of a chemical hygiene plan, which concerns the safe handling, storage, 
                  and disposal of chemicals; a review by the people responsible for 
                  undergraduate instruction in safety issues of students, teaching,  
                  research laboratories, among others.
            </p>
            <p class="warning-content">
                  The team worked on the laboratories of Tecnológico de Monterrey
                   campus Chihuahua in the school of engineering which fall under
                  the biosafety level 2. Before starting our work in the lab, 
                  all team members had to pass different safety tests and receive 
                  training. Those tests included an introduction in the laboratory 
                  machinery (i.e. centrifuge, plate reader, gel chamber, autoclave), 
                  but also covered the use of chemicals (i.e. chloroform, phenol, 
                  staining reagents). At all times, a supervisor or instructor was 
                  present when work was conducted in the laboratory. 
            </p>
            </div>
        </div>   
            
</div>

<div> icons by Yannick Lung in https://www.iconfinder.com/yanlu</div>

