<link rel="stylesheet" href="/css/safety.css">
<div class="descriptionPage">
    <div class="container-fluid descriptionHeader text-center">
        <h1 class="descriptionTitle mainHeader">Lab Safety</h1>
        <q class="title-quote">Safety is a atate of mind, accidents are an absence of mind. -Anon.</q>
    </div>
</div>


