<link rel="stylesheet" href="css/teamMembers.css">
<div id="demo" class="carousel slide mainContent" data-ride="carousel">

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/mntn.jpg" alt="mntn" width="1100" height="500">
        </div>
        <div class="carousel-item">
            <img src="img/ply.jpg" alt="ply" width="1100" height="500">
        </div>
        <div class="carousel-item">
            <img src="img/plymtn.jpg" alt="plymtn" width="1100" height="500">
        </div>
    </div>
    <!--Title : Team Memebers-->
    <div class="container col-md-6 titleH">
        <h1>Team Members</h1>
    </div>
    <!--Character card group-->
    <div class="container characterCard col-md-8" id="accordion">
        <div class="card">
            <div class="row col-md-12">
                <div class="card-header card-link" id="card1">
                    <div class="cardContainer col-md-12" target="#pe1" data-toggle='modal' data-target="#pe1Modal">
                        <img src="img/portrait_placeolder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe1">
                                Persona no.1
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-header card-link" id="card2">
                    <div class="cardContainer col-md-12" target="#pe2" data-toggle='modal' data-target="#pe2Modal">
                        <img src="img/portrait_placeolder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe2">
                                Persona no.2
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-header card-link" id="card3">
                    <div class="cardContainer col-md-12" target="#pe3" data-toggle='modal' data-target="#pe3Modal">
                        <img src="img/portrait_placeolder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe3">
                                Persona no.3
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-header card-link" id="card4">
                    <div class="cardContainer col-md-12" target="#pe4" data-toggle='modal' data-target="#pe4Modal">
                        <img src="img/portrait_placeolder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe4">
                                Persona no.4
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-header card-link" id="card5">
                    <div class="cardContainer col-md-12" target="#pe5" data-toggle='modal' data-target="#pe5Modal">
                        <img src="img/portrait_placeolder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe5">
                                Persona no.5
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-header card-link" id="card6">
                    <div class="cardContainer col-md-12" target="#pe6" data-toggle='modal' data-target="#pe6Modal">
                        <img src="img/portrait_placeolder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe6">
                                Persona no.6
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-header card-link" id="card7">
                    <div class="cardContainer col-md-12" target="#pe7" data-toggle='modal' data-target="#pe7Modal">
                        <img src="img/portrait_placeolder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe7">
                                Persona no.7
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-header card-link" id="card8">
                    <div class="cardContainer col-md-12" target="#pe8" data-toggle='modal' data-target="#pe8Modal">
                        <img src="img/portrait_placeolder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe8">
                                Persona no.8
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
     <!--Title : Advisors & Collaborators-->
    <div class="container col-md-6 titleH">
        <h1>Our Advisors & Collaborators</h1>
    </div>
    <div class="container col-md-6"></div>
    <div class="container characterCard col-md-8" id="accordion">
        <div class="card">
            <div class="row col-md-12">
                
            </div>
            
        </div>
        
    </div>
</div>


<!-- The Modal -->
<div class="modal" id="pe1Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 1</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe1Mod-img">
                    <img src="img/portrait_placeolder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe1Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="pe2Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 2</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe2Mod-img">
                    <img src="img/portrait_placeolder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe2Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal" id="pe3Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 2</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe3Mod-img">
                    <img src="img/portrait_placeolder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe3Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal" id="pe4Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 4</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe4Mod-img">
                    <img src="img/portrait_placeolder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe4Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal" id="pe5Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 5</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe5Mod-img">
                    <img src="img/portrait_placeolder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe5Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal" id="pe6Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 6</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe6Mod-img">
                    <img src="img/portrait_placeolder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe6Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal" id="pe7Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 7</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe7Mod-img">
                    <img src="img/portrait_placeolder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe7Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal" id="pe8Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 8</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe8Mod-img">
                    <img src="img/portrait_placeolder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe8Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
<script src="js/team.js"></script>
<!--Character card end-->