<link rel="stylesheet" href="https://2019.igem.org/wiki/index.php?title=Template:Tec-Chihuahua/teamMembersCSS&action=raw&ctype=text/css">
<div id="demo" class="carousel slide mainContent" data-ride="carousel">
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://2019.igem.org/wiki/images/d/dd/T--Tec-Chihuahua--vertda.jpg" alt="mntn" width="100%" height="500">
            <div class="carousel-caption">
                <h1>The Team</h1>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://2019.igem.org/wiki/images/d/dd/T--Tec-Chihuahua--vertda.jpg" alt="ply" width="100%" height="500">
            <div class="carousel-caption">
                <h1>The Team</h1>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://2019.igem.org/wiki/images/d/dd/T--Tec-Chihuahua--vertda.jpg" alt="plymtn" width="100%" height="500">
            <div class="carousel-caption">
                <h1>The Team</h1>
            </div>
        </div>
    </div>
</div>
<!--Title : Team Memebers-->
<div id="obo">
    <!-- <div class="container col-md-2 sidebarL sideAnimation">
        │ <br> │

    </div>

    <div class="container col-md-2 sidebarR sideAnimation">
        │ <br> │

    </div> -->
    <div class="container col-md-6 titleH">
        <h1>Team Members</h1>
    </div>

    <!--Character card group-->
    <div class="container characterCard col-md-10">
        <div class="card">
            <div class="row col-md-12 b">
                <div class="card-header card-link" id="card1">
                    <div class="cardContainer " target="#pe1" data-toggle='modal' data-target="#pe1Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe1">
                                Persona no.1
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-header card-link" id="card2">
                    <div class="cardContainer col-md-12" target="#pe2" data-toggle='modal' data-target="#pe2Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe2">
                                Persona no.2
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-header card-link" id="card3">
                    <div class="cardContainer col-md-12" target="#pe3" data-toggle='modal' data-target="#pe3Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe3">
                                Persona no.3
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-header card-link" id="card4">
                    <div class="cardContainer col-md-12" target="#pe4" data-toggle='modal' data-target="#pe4Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe4">
                                Persona no.4
                            </li>
                        </ul>
                    </div>
                </div> 
                <div class="card-header card-link" id="card13">
                    <div class="cardContainer col-md-12" target="#pe13" data-toggle='modal' data-target="#pe4odal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe13">
                                Persona no.13
                    </div>
                </div>
            </div>
            <div class="row col-md-12 b">
                <div class="card-header card-link" id="card5">
                    <div class="cardContainer col-md-12" target="#pe5" data-toggle='modal' data-target="#pe5Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe5">
                                Persona no.5
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-header card-link" id="card6">
                    <div class="cardContainer col-md-12" target="#pe6" data-toggle='modal' data-target="#pe6Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe6">
                                Persona no.6
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-header card-link" id="card7">
                    <div class="cardContainer col-md-12" target="#pe7" data-toggle='modal' data-target="#pe7Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe7">
                                Persona no.7
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-header card-link" id="card8">
                    <div class="cardContainer col-md-12" target="#pe8" data-toggle='modal' data-target="#pe8Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe8">
                                Persona no.8
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-header card-link" id="card14">
                    <div class="cardContainer col-md-12" target="#pe14" data-toggle='modal' data-target="#pe14Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe14">
                                Persona no.14
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row col-md-12 b">
                <div class="card-header card-link" id="card9">
                    <div class="cardContainer col-md-12" target="#pe9" data-toggle='modal' data-target="#pe9Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe9">
                                Persona no.9
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-header card-link" id="card10">
                    <div class="cardContainer col-md-12" target="#pe10" data-toggle='modal' data-target="#pe10Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe10">
                                Persona no.10
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-header card-link" id="card11">
                    <div class="cardContainer col-md-12" target="#pe11" data-toggle='modal' data-target="#pe11Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe11">
                                Persona no.11
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-header card-link" id="card12">
                    <div class="cardContainer col-md-12" target="#pe12" data-toggle='modal' data-target="#pe12Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe12">
                                Persona no.12
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card-header card-link" id="card15">
                    <div class="cardContainer col-md-12" target="#pe15" data-toggle='modal' data-target="#pe15Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="pe15">
                                Persona no.15
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Title : Advisors & Collaborators-->
    
    <div class="container col-md-6 titleH">
        <h1>Our Advisors & Collaborators</h1>
    </div>

    <div class="container characterCard col-md-8" id="accordion2">
        <div class="card">
            <div class="row col-md-12 c">

                <div class="card-header card-link col-md-3" id="carda1">
                    <div class="cardContainer col-md-12" target="#ad1" data-toggle='modal' data-target="#ad1Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>

                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="ad1">
                                Advisor 1.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card-header card-link col-md-3" id="carda2">
                    <div class="cardContainer col-md-12" target="#ad2" data-toggle='modal' data-target="#ad2Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>

                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="ad2">
                                Advisor 2.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card-header card-link col-md-3" id="carda3">
                    <div class="cardContainer col-md-12" target="#ad3" data-toggle='modal' data-target="#ad3Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="ad3">
                                Advisor 3.
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="row col-md-12 c">

                <div class="card-header card-link col-md-3" id="carda4">
                    <div class="cardContainer col-md-12" target="#ad4" data-toggle='modal' data-target="#ad4Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="ad4">
                                Advisor 4.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card-header card-link col-md-3" id="carda5">
                    <div class="cardContainer col-md-12" target="#ad5" data-toggle='modal' data-target="#ad5Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="ad5">
                                Advisor 5.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card-header card-link col-md-3" id="carda8-2">
                    <div class="cardContainer col-md-12" target="#ad8-2" data-toggle='modal' data-target="#ad8-2Modal">
                        <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                    </div>
                    <div class="container-fluid row col-md-12">
                        <ul class="names col-md-12">
                            <li class="container-fluid col-md-12 name" id="ad8-2">
                                Advisor 6.
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal fades" id="pe1Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 1</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe1Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe1Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fades" id="pe2Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 2</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe2Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe2Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fades" id="pe3Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 2</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe3Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe3Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fades" id="pe4Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h2 class="modal-title text-center">Nombre persona 4</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe4Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe4Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fades" id="pe5Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 5</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe5Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe5Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fades" id="pe6Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 6</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe6Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe6Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fades" id="pe7Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 7</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe7Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe7Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fades" id="pe8Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 8</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe8Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe8Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fades" id="pe9Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 9</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe9Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe9Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fades" id="pe10Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 10</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe10Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe10Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fades" id="pe11Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 11</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe11Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe11Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fades" id="pe12Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 12</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe12Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe12Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fades" id="pe13Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 13</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe12Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe12Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fades" id="ad1Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre del Advisor</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="ad1Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="ad1Mod-body">
                    Detalles de advisor 1. ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fades" id="pe14Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 12</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe12Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe12Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>



<div class="modal fades" id="pe15Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre persona 12</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="pe12Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="pe12Mod-body">
                    Detalles de la persona 1 ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fades" id="ad2Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre del Advisor</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="ad2Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="ad2Mod-body">
                    Detalles de advisor 1. ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fades" id="ad3Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre del Advisor</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="ad3Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="ad3Mod-body">
                    Detalles de advisor 1. ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fades" id="ad4Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre del Advisor</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="ad4Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="ad4Mod-body">
                    Detalles de advisor 1. ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fades" id="ad5Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre del Advisor</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="ad5Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="ad5Mod-body">
                    Detalles de advisor 1. ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fades" id="ad6Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre del Advisor</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="ad6Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="ad6Mod-body">
                    Detalles de advisor 1. ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fades" id="ad7Modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title">Nombre del Advisor</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid col-md-12 modal-img" id="ad7Mod-img">
                    <img src="https://2019.igem.org/wiki/images/e/e4/T--Tec-Chihuahua--portrait-placeholder.png" class="foto">
                </div>
                <div class="container-fluid col-md-8 detalles" id="ad7Mod-body">
                    Detalles de advisor 1. ... etc.
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>



<script src="https://2019.igem.org/wiki/index.php?title=Template:Tec-Chihuahua/JQuery&action=raw&ctype=text/javascript"></script>
<script src="https://2019.igem.org/wiki/index.php?title=Template:Tec-Chihuahua/Popper&action=raw&ctype=text/javascript"></script>
<script src="https://2019.igem.org/wiki/index.php?title=Template:Tec-Chihuahua/Boostrap_js&action=raw&ctype=text/javascript"></script>

<script src="https://2019.igem.org/wiki/index.php?title=Template:Tec-Chihuahua/script_js&action=raw&ctype=text/javascript"></script>
</body>
<!--Character card end-->
