<link rel="stylesheet" href="https://2019.igem.org/wiki/index.php?title=Template:Tec-Chihuahua/teamMembersCSS&action=raw&ctype=text/css">

<div id="demo" class="carousel slide mainContent" data-ride="carousel">
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="https://2019.igem.org/wiki/images/d/dd/T--Tec-Chihuahua--vertda.jpg" alt="plymtn" width="100%" height="350">
            <div class="carousel-caption">
                <h1>The Team</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid col-md-12">
    <div class="container col-md-10 team_info">
	    <p>
	       This will be the information of the team 
	    </p> 
    </div>
    <div class="container col-md-3 vert_index">
    
    </div>
    <div class="container col-md-9 team_cards">
    
    </div>
</div>
