<link rel="stylesheet" href="css/teamMembers.css">
<div id="demo" class="carousel slide mainContent" data-ride="carousel">

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/mntn.jpg" alt="mntn" width="1100" height="500">
        </div>
        <div class="carousel-item">
            <img src="img/ply.jpg" alt="ply" width="1100" height="500">
        </div>
        <div class="carousel-item">
            <img src="img/plymtn.jpg" alt="plymtn" width="1100" height="500">
        </div>
    </div>

    <!--Character card-->
    <div class="container characterCard" id="accordion">
        <div class="card">
            <div class="row">
            <div class="card-header card-link" data-toggle="collapse" href="#collapseOne">
                    <div class="cardContainer col-md-10">
                        <img src="img/portrait_placeolder.png" width="150px" height="200px">
                    </div>
                </div>
                <div class="card-header card-link" data-toggle="collapse" href="#collapseTwo">
                    <div class="col-md-10">
                        <img src="img/portrait_placeolder.png" width="150px" height="200px">
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="container col-md-10">
            <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores facere sed dolore dolorem
                        excepturi cupiditate voluptates exercitationem ipsum, nobis fugiat necessitatibus voluptatum et
                        praesentium voluptatem expedita modi beatae molestias! Laudantium?</p>
                </div>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p style="color:red;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores facere sed dolore dolorem
                            excepturi cupiditate voluptates exercitationem ipsum, nobis fugiat necessitatibus voluptatum et
                            praesentium voluptatem expedita modi beatae molestias! Laudantium?</p>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <!--Character card end-->

    <!--Character card-->
    <div class="container characterCard" id="accordion">
        <div class="card">
            <!-- <div class="card-header card-link" data-toggle="collapse" href="#collapseTwo">
                <div class="row">
                    <div class="col-md-6">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt accusamus laborum
                            reiciendis dolorum inventore nihil, nemo sit. Perferendis recusandae, fuga laborum est,
                            dolorem at iure voluptate, dolor repellat itaque neque!</p>
                    </div>
                    <div class="col-md-6">
                        <img src="https://via.placeholder.com/150" width="150px" height="150px">
                    </div>
                </div>
            </div> -->
            <!-- <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores facere sed dolore dolorem
                        excepturi cupiditate voluptates exercitationem ipsum, nobis fugiat necessitatibus voluptatum et
                        praesentium voluptatem expedita modi beatae molestias! Laudantium?</p>
                </div>
            </div> -->
        </div>
    </div>
    <!--Character card end-->