<link rel="stylesheet" href="../css/footer.css">
<footer>
    <div class="container-fluid sub-footer">
        <div class="row bottomFooter">
            <div class="col-md-12 text-center ft-tec">
                <h1>Tec-Chihuahua 2019 &copy;</h1> 
                <a href="#top"><img src="../img/up-arrow.png" alt="top" title="ToTop" id="ft-img"></a>
            </div>
            <div class="container col-md-4" id="cr-credit">
                <p class="ft-copy">
                    Icons made by 
                    <a href="https://www.freepik.com/?__hstc=57440181.a4705a2f790e7ee82354874a54a61f45.1558628777312.1558628777312.1558628777312.1&__hssc=57440181.8.1558628777313&__hsfp=56113731" title="Freepik">
                        Freepik 
                    </a>
                    <span class="ft-nani"> </span>
                     from
                     <a href="https://www.flaticon.com/" title="Flaticon"> 
                        www.flaticon.com
                    </a> 
                    <span class="ft-nani"> </span>
                     is licensed by 
                     <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
                        CC 3.0 BY
                    </a>
                </p>
            </div>
            <div class="container col-md-4" id="cr-credits">
                    <p class="ft-copy">
                            /// --- info --- ///
                    </p>
            </div>
            <div class="container col-md-4" id="cr-creditss">
                    <p class="ft-copy">
                            /// --- info --- ///
                    </p>
            </div>
        </div>
    </div>
</footer>