@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Monterey';
    src: url('../fonts/Monterey/MontereyFLF.ttf');
}

footer div div.ft-tec {
    margin: 2rem 2rem 1rem 2rem;
    border-radius: 2rem 2rem 0 0;
}

.ft-tec h1 {
    color: black;
    font-size: 3.5rem;
    font-family: 'Monterey', sans-serif;
}

footer {
    /* border-radius: 3rem 3rem 0 0 !important; */
    height: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    max-height: 30rem;
=======
    max-height: 40rem;
>>>>>>> 2b2d619c553e782206884683706c7e1670592963
=======
>>>>>>> 50c1f9ae62c0299b68644eda5a1b82e0f827abf6
    margin-top: 10rem;
=======
>>>>>>> GRDO-branch
    min-height: 14rem !important;
    background-image: linear-gradient(to bottom, #7ae9b5ad, #0f9657), url(/img/vert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0 !important;

}

div.sub-footer {
    /* border-radius: 3rem 3rem 0 0 !important; */
    /* background-image: linear-gradient(to bottom, #6BBF59, rgba(15, 150, 87) ) ; */
}

#cr-credit {
    margin-left: 0;
    margin-right: 0;
    float: left;
    padding-left: 3rem;
}

div#cr-credit {
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif !important;
    text-align: left;

}

div#cr-credit a {
    transition-property: font;
    /* transition-property: vertical-align; */
    transition-duration: 0.5s;
}

#cr-credit a:hover {
    font-size: 1.8rem !important;
    /* vertical-align: middle; */
    text-decoration-line: underline;
}

span.ft-nani {
    display: inline !important;
    margin: .3rem !important;
    font-family: 'Lato', sans-serif !important;
}

p.ft-copy {
    font-size: 1.5rem !important;

}

#ft-img {
    max-height: 3rem;
    max-width: 3rem;
    height: 100%;
    width: calc(height);
    min-height: 1rem;
    min-width: 1rem;
    float: right;
}

.ft-tec * {
    display: inline;
}

#cr-creditss img.logo {
    height: 45%;
    width: 30%;
}

#SNAPGENELOGO {
    width: 24rem;
    height: 6rem;
}

.SocialLogos img {
    height: 64px;
    width: 64px;
    margin: 3rem;
    /* background-color: #333333;
    border-radius: 10rem; */
}

/*  */