header {
    padding: 0;
    cursor: default;
    background: none;
    height: 100%;
}

#bannersection {
    background: linear-gradient(to bottom, #960f4e, #960f4e4b, rgba(100, 100, 100, 0.3)), url(/img/sphere.gif);
    background-size: cover;
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
}

.bannercontent {
    display: table-cell;
    vertical-align: middle;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    padding: 0 3%;
}

.descriptionTitle {
    padding-top: 8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
}

.descriptionPage h2 {
    font-family: vapoFont;
    font-size: 5rem;
    color: whitesmoke;
}

.description-first-content {
    background-color: #333333;
    color: white;
    padding: 4rem;
    text-align: justify;
}

.description-second-content {
    background-color: #960F4E;
    color: white;
    padding: 4rem;
    text-align: justify;
}

.description-third-content {
    background-color: #a77951;
    color: white;
    padding: 4rem;
    text-align: justify;
}



.animation-element.slide-left.cardContent:nth-of-type(odd) {
    width: 100%;
    margin: 0% 1.5% 3.0% 0%;
}

.animation-element.slide-left.cardContent:nth-of-type(even) {
    width: 100%;
    margin: 0% 0% 3.0% 1.5%;
}

.animation-element.slide-left.cardContent .header {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.animation-element.slide-left.cardContent .left {
    float: left;
    margin-right: 15px;
}

.animation-element.slide-left.cardContent .right {
    float: left;
}

/* .animation-element.slide-left.cardContent img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.5);
} */

.animation-element.slide-left.cardContent h3 {
    margin: 0px 0px 5px 0px;
}

.animation-element.slide-left.cardContent h4 {
    margin: 0px 0px 5px 0px;
}

.animation-element.slide-left.cardContent .content {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.animation-element.slide-left.cardContent i {
    color: #aaa;
    margin-right: 5px;
}