* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Roboto Cn", sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

p {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

a,
a:hover {
    text-decoration: none !important;
    color: white;
}

header {
    height: 100rem;
    margin-bottom: 10rem;
    background: linear-gradient(to bottom, rgba(47, 122, 47, 0.788), rgba(0, 0, 0, 0.3)), url(../img/vert.jpg);
    background-size: cover;
}

.navbar {
    position: fixed;
}

nav {
    /* top: 2rem;
    left: 5%; */
    height: 10rem;
    display: flex;
    padding-left: -20px;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    background-color: transparent;
    z-index: 1;
    width: 100%;
}


.navbar-toggler-icon {
    background-image: url("../img/ham\ white.png");
}

.brand {
    font-size: 3rem;
    font-weight: 300;
    margin-right: 10rem;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}

/* .brand span {
    color: rgb(51, 51, 51);
} */

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}

nav ul:nth-child(1) {
    animation-delay: 0s;
}

nav ul:nth-child(2) {
    animation-delay: .5s;
}

nav ul:nth-child(3) {
    animation-delay: 1s;
}

nav ul:nth-child(4) {
    animation-delay: 1.5s;
}

nav ul li {
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}


nav ul li:before,
nav ul li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(51, 51, 51);
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

nav ul li::before {
    top: 0;
    transform-origin: left;
}

nav ul li::after {
    bottom: 0;
    transform-origin: right;
}

nav ul li:hover::before,
nav ul li:hover::after {
    transform: scaleX(1);
}


.cont {
    background-color: rgba(94, 69, 15, 0);
}

@keyframes slideIn {
    from {}

    to {
        transform: translateX(0);
    }
}

/*----------------------------------*/

.dropdown .dropbtn {
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding-top: 4rem;
    color: white;
    display: none;
    position: absolute;
    background-color: rgb(51, 51, 51);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown-content a {
    color: white;
    margin-top: 2rem;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(43, 43, 43);
}

/* 
.dropdown:hover .dropdown-content {
    display: block;
} */

.PageTitle h1 {
    color: white;
    font-size: 10vw;
    font-weight: 100;
    text-transform: uppercase;
}

/* 
.PageTitle span {
    color: rgb(51, 51, 51);
} */

.PageTitle h1 {
    padding-top: 30%;
}

/*-----------TEAM PAGE ------------------*/
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.characterCard {
    margin-top: 10rem;
}

/*-----------FOOTER---------------------*/

footer {
    color: white;
    height: 10rem;
    background-color: rgba(94, 69, 15, 0.842);
}